.gameContainer {
  background-color: var(--semi-transparent);
  padding: 2rem;
  border-radius: 1rem;

  .survivalMeta {
    display: flex;
    flex-direction: column;

    margin-top: 1.5rem;
    width: 300px;
    margin: 0 auto;
    text-align: center;

    h2 {
      margin: 1.2rem 0;
    }

    span {
      margin-bottom: 2;
    }
  }

  .survivalImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    margin-bottom: 1.5rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--primary);
      font-size: 2rem;
      line-height: 1rem;
      border-radius: 1rem;
      outline: none;

      margin: 1rem;
      transition: filter .3s;

      &:hover {
        filter: brightness(1.2);
      }
    }

    img {
      margin: 0 1rem;
    }
  }
}

.otherSurvivalContainer {
  display: flex;
  justify-content: center;

  margin-top: 1.5rem;

  .survival {
    display: flex;
    align-items: stretch;

    position: relative;
    margin-right: 1rem;
    border-radius: .3rem;
    overflow: hidden;

    span {
      position: absolute;
      right: .6rem;
      top: 50%;
      font-weight: 600;
      transform: translateY(-50%);
      z-index: 100;
    }
  }
}
