.gameContainer {
  background-color: var(--semi-transparent);
  padding: 2rem;
  border-radius: 1rem;

  .survivalMeta {
    display: flex;
    flex-direction: column;

    margin-top: 1.5rem;
    width: 300px;
    margin: 0 auto;
    text-align: center;

    h2 {
      margin: 1.2rem 0;
    }

    span {
      margin-bottom: 2;
    }
  }

  .skillsOptions {
    display: flex;
    flex-wrap: wrap;

    select {
      flex: 1;
      padding: .3rem 1rem;
      border-radius: .5rem;
      background-color: var(--semi-transparent);

      &:not(:disabled) {
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .survivalImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    margin-bottom: 1.5rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--primary);
      font-size: 2rem;
      line-height: 1rem;
      border-radius: 1rem;
      outline: none;

      margin: 1rem;
      transition: filter .3s;

      &:hover {
        filter: brightness(1.2);
      }
    }

    img {
      margin: 0 1rem;
    }
  }

  .zombieContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
  }

  .otherSurvivalContainer {
    display: flex;
    justify-content: center;

    margin-top: 1.5rem;

    .survival {
      display: flex;
      align-items: stretch;

      position: relative;
      margin-right: 1rem;
      border-radius: .3rem;
      overflow: hidden;

      span {
        position: absolute;
        right: .6rem;
        top: 50%;
        font-weight: 600;
        transform: translateY(-50%);
        z-index: 100;
      }
    }
  }


  .footer {
    display: flex;
    justify-content: flex-end;

    .btnBackHome {
      color: var(--primary);
      background-color: var(--white);
      border-radius: 8px;
      padding: 8px 16px;
      border: 1px solid var(--primary);
      transition: all .3s linear;

      &:hover {
        color: var(--white);
        background-color: var(--primary);
        transform: scale(1.1);
      }

      svg {
        margin-right: 8px;
      }
    }
  }
}
