.survivalSelectContainer {
  backdrop-filter: blur(4px);

  h1 {
    text-align: center;
    color: var(--white);

    @media(max-width: 575.98px) {
      margin-bottom: 24px;
    }
  }

  .survivalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btnGameStart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 1rem;

    width: 54px;
    height: 54px;
    border-radius: 50%;

    background-color: var(--primary);
    filter: brightness(1.5);
    color: var(--white);
    font-size: 2rem;
    border: none;

    animation: pulse 2s linear infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
