.progressContainer {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;

  @media (max-width: 575.98px) {
    transform: rotateZ(90deg) translateX(20px);
    position: absolute;
    right: -35px;
    top: calc(50% - 40px);
  }

  height: 3.5rem;

  .levelItem {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 0;

    @media(max-width: 575.98) {
      padding: .3rem 3px;
    }


    border-left: 1px solid var(--semi-transparent);

    &.active {
      box-shadow: inset 0 0 16px rgb(7, 177, 64);
      animation: blink 1s linear infinite;
    }
  }

  .blue {
    background-color: var(--blue);
  }

  .orange {
    background-color: var(--orange);
  }

  .yellow {
    background-color: var(--yellow);
  }

  .red {
    background-color: var(--red);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
