.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.popupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.5);
  max-width: 100%;
  width: 400px;
  padding: 2rem 1.5rem;
  border-radius: 1rem;

  backdrop-filter: blur(4px);

  h1 {
    font-family: 'Rock Salt', cursive;
    margin-bottom: 1.2rem;
  }

  button {
    cursor: pointer;
    width: 200px;
    height: 2.5rem;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: .5rem;
    margin-bottom: .875rem;
    transition: filter .3s linear;
    font-weight: 600;
    font-size: 1rem;

    &:hover,
    &:disabled {
      filter: brightness(.8);
    }

    &:disabled {
      cursor: default;
    }
  }
}
